<section class="py-36 bg-gray-50">
    <div class="container mx-auto px-6 md:px-12 lg:px-16">
        <h2 class="text-4xl font-bold uppercase text-center mb-8">
            Nuestros Clientes
        </h2>
        <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
            <div class="flex justify-center">
                <img src="/images/logos/velasquez.avif" alt="Velasquez" class="w-full max-w-[150px] h-auto object-contain" loading="lazy" width="150" height="150" />
            </div>
            <div class="flex justify-center">
                <img src="/images/logos/concrete.avif" alt="Concrete" class="w-full max-w-[150px] h-auto object-contain" loading="lazy" width="150" height="150" />
            </div>
            <div class="flex justify-center">
                <img src="/images/logos/sanpablo.avif" alt="San Pablo" class="w-full max-w-[150px] h-auto object-contain" loading="lazy" width="150" height="150" />
            </div>
            <div class="flex justify-center">
                <img src="/images/logos/transmaq.avif" alt="Transmaq" class="w-full max-w-[150px] h-auto object-contain" loading="lazy" width="150" height="150" />
            </div>
            <div class="flex justify-center">
                <img src="/images/logos/perudecor.avif" alt="Perú Decor" class="w-full max-w-[150px] h-auto object-contain" loading="lazy" width="150" height="150" />
            </div>
            <div class="flex justify-center">
                <img src="/images/logos/maslogistics.avif" alt="Perú Decor" class="w-full max-w-[150px] h-auto object-contain" loading="lazy" width="150" height="150" />
            </div>
        </div>
    </div>
</section>