<section class="bg-black text-gray-300 py-10">
    <div class="container mx-auto px-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
        <div>
            <h3 class="text-lg font-bold text-white">
                OREMARC S.A.C
            </h3>
            <p class="mt-4">
                Ofrecemos servicios logísticos y de transporte diseñados para satisfacer todas tus necesidades con seguridad y profesionalismo.
            </p>
        </div>

        <div>
            <h3 class="text-lg font-bold text-white">
                Enlaces
            </h3>
            <ul class="mt-4 space-y-2">
                <li>
                    <a href="/" class="hover:text-primary">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="#nosotros" class="hover:text-primary">
                        Nosotros
                    </a>
                </li>
                <li>
                    <a href="#servicios" class="hover:text-primary">
                        Servicios
                    </a>
                </li>
                <li>
                    <a href="#contacto" class="hover:text-primary">
                        Contacto
                    </a>
                </li>
            </ul>
        </div>

        <div>
            <h3 class="text-lg font-bold text-white">
                Contáctanos
            </h3>
            <ul class="mt-4 space-y-2">
                <li>
                    📍 Dirección: <br />
                    <a href="https://maps.app.goo.gl/zraMWzxC5kTFefVx9" class="hover:text-primary" target="_blank">
                        Jr. Huayna Capac Mza. 4U, Lote 2,
                        Tablada de Lurín, Villa María del Triunfo.
                    </a>
                </li>
                <li>
                    📞 Teléfono: <br />
                    <a href="tel:+51967276494" class="hover:text-primary">
                        (+51) 967 276 494
                    </a>
                </li>
                <li>
                    ✉️ Email:  <br />
                    <a href="mailto:contacto@oremarc.com" class="hover:text-primary">
                        ventas@oremarc.com.pe
                    </a>
                </li>
            </ul>
        </div>

        <div>
            <h3 class="text-lg font-bold text-white">
                Síguenos
            </h3>
            <div class="flex space-x-4 mt-4">
                <a href="https://www.facebook.com/share/1FT5jeEQjE/" class="text-primary hover:text-white" target="_blank" aria-label="Visitar el perfil de facebook">
                    <i class="fab fa-facebook fa-2xl"></i>
                </a>
                <a href="https://www.instagram.com/oremarc_transporte_mudanza/" class="text-primary hover:text-white" target="_blank" aria-label="Visitar el perfil de instagram">
                    <i class="fab fa-instagram fa-2xl"></i>
                </a>
                <a href="https://www.tiktok.com/@oremarc.sac" class="text-primary hover:text-white" target="_blank" aria-label="Visitar el perfil de tiktok">
                    <i class="fab fa-tiktok fa-2xl"></i>
                </a>
                <a href="https://www.linkedin.com/help/linkedin/answer/a702683" class="text-primary hover:text-white" target="_blank" aria-label="Visitar el perfil de linkedin">
                    <i class="fab fa-linkedin fa-2xl"></i>
                </a>
                <a href="#" class="text-primary hover:text-white" target="_blank" aria-label="Ir a whatsapp">
                    <i class="fab fa-whatsapp fa-2xl"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="border-t border-gray-700 mt-10 pt-4 text-center">
        <p class="text-sm text-gray-400">
            © 2025 Oremarc S.A.C. Todos los derechos reservados | RUC: 20607227757.
        </p>
        <p class="text-sm mt-2">
            Diseñado por 
            <a href="https://www.facebook.com/rubenestebantipiania" class="hover:text-primary" target="_blank" aria-label="Visitar web del programador">
                Rubén Tipiani
            </a>
        </p>
    </div>
</section>