<section class="py-16 bg-gradient-to-b from-gray-50 to-gray-200" id="ubicacion">
    <div class="container mx-auto px-6">
        <div class="text-center mb-8">
            <h3 class="text-4xl font-extrabold text-gray-800">
                Ubicación
            </h3>
            <p class="text-lg text-gray-600 mt-2">
                Encuéntranos fácilmente en nuestra dirección principal.
            </p>
        </div>

        <div class="w-full h-80 rounded-lg shadow-lg overflow-hidden">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3899.854758883392!2d-76.9336587!3d-12.1902843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b9ecb0ce5509%3A0xc1061545dc469095!2sOREMARC%20S.A.C!5e0!3m2!1ses!2spe!4v1736437480852!5m2!1ses!2spe" 
                class="w-full h-full border-0"
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</section>