<div class="fixed bottom-20 right-6">
    <a href="https://wa.me/51967276494?text=¡Hola!%20Quisiera%20más%20información." target="_blank" rel="noopener noreferrer" class="bg-green-500 text-white w-14 h-14 rounded-full flex items-center justify-center shadow-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-2 transition transform animate-bounce">
        <i class="fab fa-whatsapp text-2xl"></i>
    </a>
</div>

<div class="fixed bottom-6 right-6 z-10">
    <a href="#" class="bg-primary text-white w-14 h-14 rounded-full flex items-center justify-center shadow-lg hover:bg-primary transition">
        <i class="fas fa-arrow-up text-2xl"></i>
    </a>
</div>