---
import WhatsApp from '../components/WhatsApp.astro';
import '../styles/global.css';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Oremarc | Operador logístico especializado</title>
	</head>
	<body>
		<slot />
		<WhatsApp />
	</body>
</html>